.Weather{
    place-self: center;
    padding: 40px;
    border-radius: 30px;
    background-image: linear-gradient(45deg,#2f4680,#500ae4);
    display: flex;
    flex-direction: column;
    align-items: center;
}
.search-bar{
    
    display: flex;
    align-items: center;

}
.search-bar input {
    height: 35px;
    border: none;
    outline: none;
    border-radius: 40px;
    padding-left: 20px;
    background: #ebfffc;
    font-size: 18px;
}
.search-bar img{
    height: 35px;
    width:auto;
    border-radius: 50px;
    margin-left: -30px;
}
.weather-icon{
width: 200px;
margin:30px 0 ;
}
.temperature{
    color: white;
    font-size: 80px;
    line-height: 1;
}
.location{
 color: white;
 font-size: 40px;
}
.weather-data{
    width: 100%;
    margin-top: 40px;
    color: #ebfffc;
    display: flex;
    justify-content: space-between;
}
.weather-data .column{
display: flex;
align-items: flex-start;
gap: 12px;
font-size: 22px;
}
.weather-data img{
    width: 40px;
    height: auto;
    margin-top: 12px;
}
.weather-data .column span{
    display: block;
    font-size: 16px;
}

.weather-condition{
    font-family: "Poppins", sans-serif;
    margin-top:-20px;
    margin-bottom: 10px;
    color: white;
 font-size: 40px;
}

@media (max-width: 700px) {
    .Weather {
      max-width: 90%;
    }
  
    .search-bar input {
        
      font-size: 14px;
    }
  
    .weather-condition, 
    .temperature, 
    .location {
      font-size: 2.2rem;
    }
  
    .weather-data {
      
      align-items: center;
    justify-content: space-between;
    }
  
    .column {
      flex-direction: row;
      gap: 10px;
    }
  
    .column div {
      text-align: left;
    }
  }
  
  @media (max-width: 400px) {
    .search-bar {
       
    }
  
    .search-bar input {
      width: 100%;
      margin-bottom: 10px;
    }
  
    .search-bar img {
        margin-top: -10px;
    
      border-radius: 40px;
    }
  
    .weather-condition, 
    .temperature, 
    .location {
      font-size: 2rem;
    }
  
    .weather-icon {
      width: 100px;
      height: 100px;
    }
  }